* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-image: url(../images/bg-body.png);
    background-attachment: fixed;
}

img {
    width: 100%;
    /* para imagenes responsive*/
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 95%;
    /*para que quede centrado en mobile*/
    margin: auto;
}

.logo {
    border-radius: 50%;
    border: solid 1px #ccc;
    margin: 30px auto;
    display: block;
    box-shadow: 0 0 5px #000000;
    max-width: 140px;
}

.toggle-nav {
    background-color: #333;
    display: block;
    width: 45px;
    text-align: center;
    padding: 10px 0;
    margin: 0 auto 20px;
}

.ion-navicon-round {
    color: #fff;
    font-size: 25px;
}

.main-nav a {
    display: block;
    background-color: #333;
    color: #fff;
    font-size: 1.5em;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #000;
    padding: 15px;
}

.main-nav ul {
    display: none;
}


/*.main-nav:hover ul{
display:block;*/

.banner {
    display: none;
}

.product {
    margin-bottom: 15px;
}

.product a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    font-size: 1.2em;
    padding: 1em;
}

.main-footer {
    background-color: #f00;
    border-radius: 20px 20px 0 0;
}

.main-footer a {
    display: block;
    color: #fff;
    font-size: 1.1em;
    padding: 1em;
    text-align: center;
    border-bottom: solid 1px #fff;
}

@media (min-width: 640px) {
    /*media queries tablet*/
    .container {
        width: 100%;
    }
    .toggle-nav {
        display: none;
    }
    .main-nav ul {
        /*lo traemos de vuelta*/
        display: block !important;
        overflow: hidden;
        /*limpiar la flotacion*/
    }
    .main-nav li {
        float: left;
        width: 15%;
        /*(180px dentro de un contenedor de 1200px) 180%1200*100*/
        font-size: 0.6em;
        text-align: center;
        margin: 0 0.83%;
        /*10px %1200px *100*/
    }
    .banner {
        display: block;
        margin: 30px 0.83%;
        /*30px margen de arriba y de abajo*/
    }

    .vip-products{
  		overflow: hidden;
  	}

    .product {
        float: left;
        margin-left: 0.83%;
        margin-right: 0.83%;
        width: 48.33%;
        /* sale de multiplicar x4 los margenes restando al 100%*/
    }
    .main-footer {
        clear: both;
        margin-left: 0.83%;
        margin-right: 0.83%;
    }
}

@media (min-width: 960px) {
    .product {
        width: 31.67%;
        /*porq son 3 cajas y c/u tiene margen derecho e izquierdo de 0.83%*/
    }
    .main-footer {
        padding: 30px 0;
    }
    .main-footer ul {
        text-align: center;
    }
    .main-footer li {
        display: inline-block;

    }
    .main-footer a {
        border: none;
        border-right: solid 1px rgba(255, 255, 255, 0.8);
    }
    .main-footer li:last-child a {
        border-right: none;
    }
}
